<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device=width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logoBr.png') }}" type="image/png" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

        <script src="{{ url_for('static', filename='javaScript/menu.js') }}"></script>
        <script src="{{ url_for('static', filename='javaScript/login_popup.js') }}"></script>
        <script src="{{ url_for('static', filename='javaScript/carousel.js') }}"></script>

        <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/container.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/carousel.css')}}">
        
        <title>BRASILEIRAO</title>
</head>
<header id="header">
    <div class="barra-navegacao">
        <div class="flex">
            <div id="title">
                <h1>CAMPEONATO BRASILEIRO</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">INICIO</a></li>
                    <li><a href="{{ url_for('classificacao') }}">CLASSIFICAÇÃO</a></li>
                    <li><a href="{{ url_for('partidas') }}">PARTIDAS</a></li>
                    <li><a href="{{ url_for('estatisticas') }}">ESTATISTICAS</a></li>
                </ul>
            </nav>
            <div class="btn-contato">
                <a href="{{ url_for('login') }}"><button id="loginBtn">LOGIN</button></a>
            </div>
        </div>
    </div>
</header>
<div class="popup-container" id="loginPopup">
    <div class="popup-content">
      <span class="close" onclick="fecharPopup()">&times;</span>
      <h2>Login</h2>
      <form>
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Entrar</button>
      </form>
    </div>
</div>
<body>
    <section>
        <div class="carousel">
            <div class="carousel-slides">
              <div class="slide">
                <img src="{{ url_for('static', filename='imagens/carousel/maxresdefault.jpg') }}" class="d-block w-100" alt="Imagem 1">
              </div>
              <div class="slide">
                <img src="{{ url_for('static', filename='imagens/carousel/carrossel-guia-serie-a.webp') }}" class="d-block w-100" alt="Imagem 2">
              </div>
              <div class="slide">
                <img src="{{ url_for('static', filename='imagens/carousel/agif22110621094225.webp') }}" class="d-block w-100" alt="Imagem 3">
              </div>
              <div class="slide">
                <img src="{{ url_for('static', filename='imagens/carousel/Taca-do-Campeonato-Brasileiro.jpg') }}" class="d-block w-100" alt="Imagem 4">
              </div>
            </div>
            <button class="prev"></button>
            <button class="next"></button>
          </div>
    </section>
</body>
<footer>
    <div id="footer_content">
        <div id="footer_contacts">
          <img src="{{ url_for('static', filename='imagens/cbf-logo.png') }}" class="logo-img">
            <h1>BRASILEIRÃO</h1>
            <h1>2023</h1>
        </div>
        <div id="footer_social_media">
            <a href="https://instagram.com/cbf_futebol" class="footer_link">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://www.facebook.com/cbf" class="footer_link">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="https://www.x.com/cbf_futebol" class="footer_link">
                <i class="bi bi-twitter"></i>
                <!--<i class="bi bi-twitter-x"></i>-->
            </a>
        </div>
        <ul class="footer_list">
            <li>
                <h3>ESTATISTICAS</h3>
            </li>
            <li>
                <a href="#" class="footer_link">Artilheiros</a>
            </li>
            <li>
                <a href="#" class="footer_link">Cartões</a>
            </li>
            <li>
                <a href="#" class="footer_link">Music</a>
            </li>
        </ul>
        <ul class="footer_list">
            <li>
                <h3> Products </h3>
            </li>
            <li>
                <a href="#" class="footer_link">App</a>
            </li>
            <li>
                <a href="#" class="footer_link">Desktop</a>
            </li>
            <li>
                <a href="#" class="footer_link">Cloud</a>
            </li>
        </ul>
    </div>
    <div id="footer_copyright">
        Copyright (c) 2023 | MNS | TODOS OS DIREITOS RESERVADOS
    </div>
</footer>
</html>
